@import "tailwindcss";

@theme {
  /* Paleta Pinceladas With Us */
  --color-pinceladas-orange: #F36523; /* Naranja vibrante del fondo */
  --color-pinceladas-pink: #F8EEE5;   /* Rosado pastel/texturas */
  --color-pinceladas-wine: #521C2E;   /* vinotinto del texto "CELEBRA TU CUMPLE" */
  --color-pinceladas-paper: #FFF3FA;  /* Blanco cálido tipo papel central */
}